div.containerLogin {
  max-width: 100vw;
  height: 100%;
  font-size: 1rem;
  font-family: sans-serif;
  padding-bottom: 60px;
  margin-bottom: 150px;
}

div.primeiroItemLogin {
  flex: 1;
  position: relative;
  top: 100px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Fauseralt {
  color: rgb(75, 104, 137);
}

div.loginForm {
  position: relative;
  background-color: var(--corMenu2);
  border-radius: 5px;
  padding: 3rem;
  margin-top: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.input-container input {
  outline: none;
  padding: 10px;
  width: 20rem;
  border-radius: 8px;
}

div.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  margin: 20px;
  font-size: 14px;
  color: rgb(255, 0, 0);
}

.button-container {
  display: flex;
  justify-content: center;
}
.button-container button {
  background: var(--azulPrincipal);
  border-radius: 10px;
  border: solid 1px var(--corMenu);
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
.button-container button:hover {
  background: var(--azulPrincipal2);
  border-radius: 10px;
  transition: all 0.1s;
}

.registerCase {
  margin-top: 20px;
  text-align: center;
}
.registerCase a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.404);
}
.registerCase a:hover {
  text-decoration: underline;
  color: #ffff;
}

@media (max-width: 650px) {
  .containerLogin {
    margin-top: 200px;
  }
}

:root {
  --azulPrincipal: rgb(147, 189, 237);
  --azulPrincipal2: rgb(176, 195, 217);
  --corMenu: rgb(49, 48, 48);
  --corMenu2: rgb(122, 118, 118);
}
