.menu {
  top: 0;
  display: flex;
  position: fixed;
  background: rgb(49, 48, 48);
  width: 100%;
  z-index: 1;
  font-family: sans-serif;
}

.menu li {
  list-style: none;
  margin: 20px;
  display: grid;
}

.dropdownContent a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 5px;
}

.dropdownContent a:hover {
  background: rgb(147, 189, 237);
  color: #000;
  border-radius: 10px;
  transition: all 0.3s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background: rgb(49, 48, 48);
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0 10px 10px;
  padding: 12px 16px;
  z-index: 2;
}

.show {
  display: block;
}
.dropBtn {
  text-decoration: none;
  background-color: #313030;
  padding: 15px;
  font-size: 15px;
  color: #ffff;
  cursor: pointer;
}

.dropBtn:hover {
  background: rgb(147, 189, 237);
  color: #000;
  border-radius: 10px;
  transition: all 0.3s;
}
.dropBtn:focus {
  background: rgb(147, 189, 237);
  color: #000;
  border-radius: 10px;
}

.dropdownContentBtns {
  flex: 1;
  position: relative;
  display: grid;
  text-align: center;
  margin-top: 150px;
}

#loginBtn {
  background: rgb(147, 189, 237);
  border-radius: 10px;
  cursor: pointer;
}

#loginBtn:hover {
  background: rgb(176, 195, 217);
}
#cadastroBtn:hover {
  text-decoration: underline;
  background: #313030;
  color: #ffff;
}

#conteudosMenu {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.conteudoMenu0 img {
  width: 60px;
  height: 60px;
}

.conteudoMenu1 input {
  text-align: left;
  border-radius: 10px;
  width: 20rem;
  padding: 10px;
  outline: none;
}
.conteudoMenu1 form {
  background-color: #ffff;
  display: flex;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 30px;
}

#btnSearch {
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background-color: #ffff;
  color: #000;
  cursor: pointer;
}
#btnSearch:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s;
}
.conteudoMenu2 {
  display: flex;
  color: #ffff;
}
#FaUserBtn {
  background-color: rgb(49, 48, 48);
  color: #ffff;
}

#cadastroBtnmenu {
  background-color: rgb(49, 48, 48);
  color: #ffff;
  margin-left: 30px;
}
#Faheadsetbtn {
  font-size: 20px;
  margin-left: 30px;
  color: #ffff;
}
#Faheadsetbtn:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.2s;
}
#Facart {
  font-size: 20px;
  margin-left: 30px;
  color: #ffff;
  float: right;
  cursor: pointer;
}
#Facart:hover {
  transform: scale(1.2);
  transition: all 0.2s;
}

@media (max-width: 650px) {
  .menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .dropdownContent {
    min-width: 200px;
  }
  div #conteudosMenu {
    font-size: 10px;
  }
  .conteudoMenu1 {
    margin-bottom: 15px;
  }
  .conteudoMenu2 {
    padding-bottom: 10px;
    font-size: 15px;
  }
}
