table.tableContent {
  border-collapse: collapse;
  max-width: 100%;
  margin: auto;
}

th {
  text-align: center;
  padding: 15px;
  border-bottom: 1.5px solid #ddd;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: var(--azulSecundario);
  transform: scale(1.005);
  transition: all 0.1s;
}

#editarbtn {
  margin: 20px 5px 10px 5px;
  background: var(--azulPrincipal);
  border-radius: 10px;
  border: solid 1px var(--corMenu);
  padding: 5px;
  font-size: 0.8rem;
  float: left;
  cursor: pointer;
}
#editarbtn:hover {
  background: var(--azulPrincipal2);
  border-radius: 10px;
  transition: all 0.1s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#deletarbtn {
  margin: 20px 5px 10px 5px;
  background: var(--vermelhoDelet);
  border-radius: 10px;
  border: solid 1px var(--corMenu);
  padding: 5px;
  font-size: 0.8rem;
  float: right;
  cursor: pointer;
}
#deletarbtn:hover {
  background: var(--vermelhoDeletClaro);
  border-radius: 10px;
  transition: all 0.1s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
